<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Edit User</title>
        <link rel="stylesheet" th:href="@{bootstrap/css/bootstrap.min.css}"/>
    </head>
    <body>
        <header th:replace="fragments/parts::menu">
        </header>
        <form class="form-horizontal">
            <fieldset>
                <!-- Form Name -->
                <legend></legend>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="username">Name</label>
                    <div class="col-md-3">
                        <input id="username" name="username" placeholder="Username" class="form-control input-md" type="text">
                        <span class="help-block">The users name</span>
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="email">Email</label>
                    <div class="col-md-3">
                        <input id="email" name="email" placeholder="Email" class="form-control input-md" type="text">
                        <span class="help-block">User's email</span>
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="password">Password</label>
                    <div class="col-md-3">
                        <input id="password" name="password" placeholder="Password" class="form-control input-md" type="text">
                        <span class="help-block">User's password</span>
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="someSwitchOptionPrimary">Is Admin</label>
                    <div class="col-md-2">
                            <div class="material-switch pull-right">
                                <input id="someSwitchOptionPrimary" name="someSwitchOption001" type="checkbox"/>
                                <label for="someSwitchOptionPrimary" class="label-primary"></label>
                            </div>
                        <span class="help-block">Is user admin</span>
                    </div>
                </div>
            </fieldset>
        </form>
    </body>
</html>
